body{
	margin: 0;
	padding: 0;
	min-width: 200px;
	width:100%;
	height:100%;
	background-color:#505b61;
}

h1, h2, h3 {
font-family: 'Raleway', Arial, sans-serif;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family: Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

img.center {
display: block;
margin: 0 auto;
}

video {
max-width:100%;
height:auto;
}

h1, #pixels{
	font-weight:700;
	font-style:normal;
}

h2, h3 {
	font-weight:500;
	font-style:normal;
}



/*navigation*/

#nav {
	position: fixed;
	left:0;
	top:0;
	z-index:10;
}

#navbutton {
	background-color: black;
	font-family: 'Raleway', Arial, sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	width:95px;
	transition:transform 1s;
	-webkit-transition:transform 1s;
	margin-bottom:2px;
	padding:5px;
	text-align:center;
}

#navbutton a {
	color:white;
	text-decoration:none;
	transition:transform 1s;
	-webkit-transition:transform 1s;
}

#navbutton:hover {
	background-color:white;
	-webkit-transition: background-color 1s linear;
	transition: background-color 1s linear;
}

#navbutton a:hover {
	-webkit-transition: color 1s linear;
	transition: color 1s linear;
	color:black;
}

/*title*/

#title {
	color:white;
	background-color:#505b61;
	height:100%;
	width:100%;
	margin: 0 auto;
	padding: 0;
	position:relative;
	top:0;
	text-align:center;
}

#title .title {
	width:50%;
	margin:0 auto;
}

#title .title img {
	max-width:100%;
	height:auto;

}

.float-left{
	float: left;	
	padding-left:15%;
	width:50%;
	margin-left:125px;
	padding-top:100px;
	overflow:hidden;
}

.float-right{
	float: right;
	width:50%;
	margin-left:125px;
	padding-right:15%;
	padding-top:100px;
	overflow:hidden;
	text-align:right;
	margin-right:125px;
}



#intro, #second, #third, #fourth, #fifth{
	width: 100%;
}



#intro{
	background:url(images/one.jpg) no-repeat fixed;
	background-color: #82d17e;
	color: black;
	height: 100%;
	min-height:800px;
	margin: 0 auto;
	padding: 0;
}

#second{
	background: url(images/two.png) no-repeat fixed;
	background-color: #2e768f;
	color: white;
	height:100%;
	min-height: 800px;
	margin: 0 auto;
	padding: 0;
}

#third{
	background: url(images/three.jpg) no-repeat fixed;
	background-color: #fb8a08;
	color: black;
	height:100%;
	min-height: 800px;
	padding: 0;	
	margin: 0 auto;
}


#fifth {
	background: url(images/five.jpg) no-repeat fixed;
	background-color: #6dddf1;
	color:black;
	height:100%;
	min-height: 800px;
	margin: 0 auto;
	padding: 0;
}

.container {
	margin: 0 auto;
	overflow: auto;
	width: 100%;
}

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10, #div11, #div12, #div13, #div14, #div15, #div16, #div17 {float:left; width:25px; height:25px; margin:10px;padding:10px;border:1px solid #aaaaaa;}

.background {
   width: 600px;
   height: 337px;
   padding: 3px;
   background: #2e768f;
}
